.workOnButton{
  background-color: green;
  min-width: 220px;
}
.workStatusLabel{
  font-size: 24px;
}
.workOffButton{
  background-color: red;
  min-width: 220px;
}
.workStatusBox{
  display: flex;
  gap: 20px;
  align-items: center;
}
fieldset{
  border-radius: 10px;
  display: flex;
  gap: 20px;
  width:fit-content;
  align-items: center;
  padding: 20px 20px;
  width: 100%;
}
legend {
  padding: 10px;
  font-size: 14px;
}