.boxStage{
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 10px 10px;
}
.boxTaskButton{
  min-width: 200px;
}

.inProgressBtn {
  background-color: #ffa500;
  color: white;
}

.inPauseBtn {
  background-color: #b963f3;
  color: white;
}

.completedBtn {
  background-color: #32cd32; /* Зеленый цвет для завершенного состояния */
  color: white;
  opacity: 1; /* Сохраняем нормальную видимость */
}

.boxTaskButton:disabled.completedBtn {
  background-color: #177517; /* Зеленый цвет */
  color: rgb(198, 196, 196);
  opacity: 1; /* Видимость сохраняется */
  cursor: not-allowed; /* Изменяем курсор для дизейбл кнопок */
}

@media only screen and (max-width: 480px) {
.status{
  display: none;
}
.boxTaskButton{
  width: 100%;
}
}