#root {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-content: center;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100vh;

}

.outletBox {
  flex-grow: 1;
  overflow-y: auto;
}

.contentBlock{
  margin: 10px 40px;
}
/* ==========================Header, Footer=========================== */

header, footer {
  flex-shrink: 0;
  margin: 20px 40px;
}

nav ul{
  display: flex;
  gap: 20px;
}


@media (prefers-color-scheme: light) {
  .headerIcon:hover{
    background-color: rgba(238, 234, 234, 0.87);
  }

  .customSelect{
    background-color: #F8F9FC;
  }

  .addSpace{
    background-color: #ffffff;
    box-shadow:  3px 3px 0px #f3f4f7,
                -3px -3px 0px #fdfeff;
  }

  .headerIcon{
    color: #2b4357;
  }

  .prodInput{
    background-color: #F8F9FC;
  }

  .dev_link{
    color: #2b4357;
  }

  .flexListItem:hover{
    background-color: #E1E8F5;
  }


}